.competences-container {

}

.title-competences-container {
    height: 25vh;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 50px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    animation: fadeInLeft 0.5s ease forwards;
    opacity: 0;
    font-size: 28px;
}

.title-competences-container img {
    width: auto;
    height: 92px;
}

.title-competences-container h2 {
    height: 72px;
    display: flex; 
    margin: 0;
    align-items: center;
}

.stacks-container {
    display: flex;
    height: 450px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.certifs-container {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 170px;
    padding-bottom: 50px;
}

.certifs-container-title {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    align-items: center;
    top: 0;
    width: 50%;
    margin: 0 auto;
}

.certifs-container h2 {
    font-size: 33px;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.certifs-container img {
    width: auto;
    height: 80px;
}

@media screen and (max-width: 1550px) {
    .title-competences-container h2 {
        font-size: 40px;
        height: 100px;
    }

    .title-competences-container img {
        height: 100px;
    }
    
}

@media screen and (max-width: 750px) {
    .title-competences-container h2 {
        font-size: 32px;
        height: 60px;
    }

    .title-competences-container img {
        height: 60px;
    }

    .title-competences-container {
        height: 15vh;
    }

    .stacks-container {
        height: 350px;
    }
    
}

@media screen and (max-width: 550px) {
    .title-competences-container h2 {
        font-size: 26px;
        height: 40px;
    }

    .title-competences-container img {
        height: 40px;
    }

    .title-competences-container {
        gap: 25px;
    }
    
    .stacks-container {
        width: 95%;
        height: 280px;
    }
}