.experience-container {
}

.experience-title-container {
    display: flex;
    align-items: end;
    margin: 0 auto;
    width: 90%;
    height: 25vh;
    font-size: 28px;
    animation: fadeInLeft 0.5s ease forwards;
    opacity: 0;
}

.experience-title-container img {
    width: 75px;
    height: auto;
}

.title-container-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}