.BTS-container {
    width: 96%;
    margin: 0 auto;
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

.BTS-container p {
    margin: 0;
}

.BTS-container li {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
}

.BTS-container a {
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}

.BTS-container a:hover {
    color: blue;
}

.annee-bts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.stage1, .stage2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 70px;
}

.stage1-text, .stage2-text {
    width: 800px;
    font-size: 20px;
}

.stage1-text li, .stage2-text li {
    font-size: 23px;
    font-weight: 600;
}

.stage1-image, .stage2-image {
    background-color: black;
    position: relative;
    width: 400px;
    height: 220px;
}

.stage1-image img, .stage2-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    opacity: 0.6;
}

.stage1-text .text-rapport, .stage2-text .text-rapport {
    position: relative;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    text-decoration: underline;
}

.stage-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 16px; 
    text-align: center;
}

.stage-image-text:hover {
    text-decoration: underline;
}